default:
    suites:
        default:
            contexts:
                -  FeatureContext: ~
                - Behat\MinkExtension\Context\MinkContext: ~


    extensions:
        DVDoug\Behat\CodeCoverage\Extension:
            drivers:
                - local
            filter:
                whitelist:
                    include:
                        directories:
                            'src': ~
                    exclude:
                        files:
                            - src/Kernel.php
                            - src/Repository/EventRepository.php
                        directories:
                            'vendor': ~
                            'src/DataFixtures': ~
                            'src/Entity': ~
                            'src/Migrations': ~
            report:
                format: html
                options:
                    target: coverage/functional

        Behat\MinkExtension:
            base_url: "http://test.inter-invest.localhost/"
            files_path: './tests/Utils/images'
            sessions:
                default:
                    symfony2: ~

        Behat\Symfony2Extension:
            kernel:
                env: 'test'
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
