<footer>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('build/images/logo.png') }}" title="Site's logo" alt="Logo" />
        </a>
    </nav>
</footer>
