{% extends 'base.html.twig' %}

{% block title %}Edit Firm{% endblock %}

{% block body %}
    <h1>Edit Firm</h1>

    {{ include('firm/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
