{% extends 'base.html.twig' %}

{% block title %}{{ firm.name~' - Inter-Invest' }}{% endblock %}

{% block body %}
    <h1>{{ 'firm.edit'|trans({'%firm%': firm.name}) }}</h1>

    {% include'components/organismes/firm/_form.html.twig' with {'form': form} only %}
{% endblock %}
